<!DOCTYPE html>
<html>

<head>
    <title>Ultimate Focus Assister</title>
</head>

<body>
    <section class="live-stream">
        <h1>Live streaming</h1>
        <div class="video">
            <img src="{{ url_for('video_feed') }}" width="50%" />
        </div>
    </section>
    <section class="todo-list">
        <h1>Todo List</h1>
        <span class="add-todo">
            <input type="text" class="user-input">
            <button class="add">Add todo</button>
        </span>
        <div class="list">
            <div class="todos">

            </div>
            <div class="completed">

            </div>
        </div>
    </section>
    <script src="https://unpkg.com/redux@latest/dist/redux.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='todoList.js') }}"></script>
</body>


</html>